CMakeUserPresets.json
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
Makefile
*.so
*.so.*
*.pyc
*.vcproj
*.sln
*.suo
*.vcxproj
*.sdf
*.filters
.*.swp
build
*.config
*.creator
*.creator.user
*.user
*.autosave
*.files
*.includes
.vscode/
helper.cmake
.DS_Store

